.container{
    position: absolute;
    width: 1147.8px;
    height: 1429.58px;
    left: 750.46px;
    top: -200.37px;
    display: flex;
    background: linear-gradient(178.13deg, #EE4035 9.95%, #6D63FF 109.51%);
    box-shadow: 20px 0px 30px 2px rgba(6, 3, 10, 0.2);
    transform: rotate(166.72deg);
}

.mainPic{
    position: absolute;
    top: 40%;
    right: 7%;
    height: 600px;
    width: 700px;
    transform: rotate(190.72deg);
}

@media only screen and (max-width: 768px) {
    .container{
        position: absolute !important;
        z-index: 1;
        left: 0;
        transform: rotate(180deg);
    }

    .mainPic{
        display: none;
    }
}