.card{
    padding: 1rem !important;
    margin-left: 3rem !important;
    width: 20%;
}

.title{
    display: flex !important;
    flex-direction: row !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}

.dates{
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.dates_content{
    display: flex;
    flex-direction: column !important;
    margin-left: 1rem !important;
}

.mainHeaderIcons{
    color: #EE4035 !important;
}

.notes{
    display: flex;
    margin-top: 1rem;
    font-style: italic !important;
}