.step1{
    display: flex;
    flex-direction: column;
}

.radioGroup{
    display: flex !important;
    flex-direction: column !important;
}

.longText{
    font-size: 14px !important;
}

.longText2{
    font-size: 12px !important;
}

.targetLabel{
    color: #EE4035 !important;
    font-style: italic !important;
    margin-bottom: .5rem !important;
}