.main{
    display: flex;
    margin: .5rem;
}

.pic{
    height: 60vh;
    width: 70vw;
    margin-top: 1rem;
    object-fit: contain;
}

.text{
    width: 30%;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emphasis{
    font-weight: bold;
    color: #EE4035;
}

.link{
    width: 60%;
}

.button{
    background: #EE4035 !important;
    color: white !important;
    border-radius: 9999px !important;
    width: 100% !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
}

.button:hover{
    background: #EE4035 !important;
    color: black !important;
}

/* for screens with width less than 900px */
@media only screen and (max-width: 900px) {
    .main{
        flex-direction: column-reverse;
    }

    .text{
        width: 100%;
        height: 200px;
        max-height: 30vh;
    }

    .pic{
        max-height: 55vh;
        width: 85%;
        margin: auto;
    }

}

@media only screen and (max-width: 1000px) {
    .text{
        margin-left: 1rem;
    }
}