.footer{
    display: flex !important;
    flex-direction: row !important;
    padding: 1rem;
    position: static !important;
    background: transparent !important;
    color: gray !important;
    justify-content: center !important;
}

.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1040px) {
    .container{
        flex-wrap: wrap !important;
        height: 10vh !important;
        justify-content: space-evenly;
    }
}